*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 526px;
    background-color: #fff;
}
body{
    width: 100%;
    height: 100%;
    margin-top:20px;
}

p, table{
    font-size: 13px;
    /*text-align: center;*/
}
.table{
    margin-bottom: 15px;
}

#locationInfo{
    float: left;
    width: 750px;
    height: 540px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    /*box-shadow: 10px 10px 5px #888888;*/
}

#wrap { width: 750px; height: 540px; padding: 0; }
#frame { width: 1000px; height: 720px;}
#frame {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}
#personalInfo{
    float: left;
    width: 220px;
    height: 540px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#avatar{
    width:70px;
    height:70px;
    float: left;
    margin-top: 10px;
}
#avatar img{
    width: 100%;
    height: 100%;
}
#vote{
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
}
#showNotes, #showAgu{
    float: left;
    width: 200px;
    height: 230px;
    /*overflow: scroll;*/
}
.noteOfPlayer, .aguOfPlayer{
    float: left;
    /*border: 1px solid;*/
    margin-bottom: 10px;
    margin-right: 5px;
}
#addNotes, #addAgu{
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

#myNote, #myAgu{
    width: 90%;
    margin-left: 10px;
    float: left;
}

#submitNote, #submitAgu{
    margin-top: 5px;
}
#note p, #arguments p{
    /*background-color: #E0F2F1;*/
    /*color: #009688;*/
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}



.star-rating{
    float: left;
    margin-left: 10px;
}
#submitVote{
    position: absolute;
    top: 90px;
    right: 10px;
}
.ui-dialog-titlebar-close {
    display: none
}

span.glyphicon-heart {
    font-size: 2em;
}
.grey{
    color: gray;
}